/* nav styles */

.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }

/* shared style */
.text-primary{
    color: #FD6E0A;
}

.secondary-bg{
    background-color: #FFF8F3;
}


header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
/* margin: 33px 23px; */
    background-position: top left , bottom right;
    bac
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.btn-primary{

     /* width: 158px;
     height: 64px;  */
border: none;
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;

}

nav ul li{
    list-style: none;
    margin-left: 45px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-1{
    font-weight: bold;
    font-size: 35px;
}

.dark-2{
    color: #474747;
       
}
.dark-3{
    color: #757575;
    font-size: 18px;
}

.my-text{
    font-size: 30px;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
width: 585px;
height: 355px;
margin-left: 207px;
}
.banner-greetings {
    font-weight: 600px;
    font-size: 45px;
}

.banner-title{
    font-size: 85px;
}

.banner-image{
    width: 585px;
height: 676px;
margin-right: 38px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px ;
    padding: 130px 155px;
    margin-top: 130px;
    text-align: center;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
 .text-find{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
} 

.skill-container{
    display: flex;
    justify-content: space-between;
}
.skill-item{
    border: 2px solid white;
    box-shadow: #757575 2px 5px 5px 5px;
    /* margin-left: 24px ;
    margin-top: 50px; */
    margin: 50px 12px;
    border-radius: 5px;
    width: 265px;
    padding: 30px;
}
.summary{
  margin-top: 130px;  
}

.summary-item{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 50px;
   
}

.master{
    width: 511px;
    height: 175px;
    border-bottom: 2px solid #c9c1c1;
    /* box-shadow:  1px 5px 2px; */
}
 .btn-cv{
    margin-bottom: 110px;
  
} 

footer{
    display: flex;
    gap: 117px;
    padding: 130px 230px;
    /* padding-top: 130px; */
}
.connect{
    padding-bottom: 247px;
}

input[type="text"],input[type="email"], textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
border: none;

}




